li{
   position: relative;
   list-style-type: none;
}
li::before{
    content:"";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent purple transparent transparent;
    position: absolute;
    left: -15px;
}