body{
    background: #E5E5E5;
}
.header{
height: 23.18400001525879px;
width: 1110px;
border-radius: 0px;
display: flex;
justify-content:space-around;
}
.head{
height:300px;
width: 1110px;
display: flex;
justify-content:space-around;

}
.box{
 height: 500px;
 width: 1100px;
 display: flex;
 align-items: center;
 flex-direction: column;
}
.box2{
    height: 350px;
    width:1100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.box3{
    height: 200px;
    width: 800px;
    display: flex;
    border-bottom: 1px solid gray;
    gap:220px;
    justify-content: center;
    margin-top: 40px;
    margin-left:150px;
}
#text2{
font-family: Fira Sans;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0px;
width:410px;
height: 87px;
}

#social{
    align-self: flex-end;
    left: 890px;
}
#tittle{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: -1px;
    color: #222222;
    align-self: flex-end;
}
#text{
    height: 61px;
    width: 790px;
    font-family: Fira Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
}
#img2{
    height: 50px;
    width: 160px;
    background: #E5E5E5;
}

