p{
    font-family: 'Montserrat', sans-serif;
    font-size: medium 1.5em;
    line-height: 1.4em;
    letter-spacing: 0.05em;
    text-align:justify;
    color: green;
}
.fa-facebook-square ,.fa-pinterest-square, .fa-youtube,.fa-instagram {
    font-size: 50px;
    color: gray;   
}
.fa-facebook-square:hover{
    color:royalblue;
}
.fa-pinterest-square:hover{
    color:#ff3300e5;
}
.fa-youtube:hover{
    color: red;
}
.fa-instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



