ul{
  width: 1000px;
  height: 400px;
  
}
li{
    display: inline-block;
    margin: 0 5px 5px 0;
    border:2px solid #c5c5c5d5;
    width: 300px;
    height: 70px;
    text-align:center;
    background-color: rgb(221, 217, 217);
}
li:nth-child(3){
background-color: hsl(120, 100%, 63%);
border-color: rgb(8, 184, 8);
}
li:nth-child(7){
    background-color: hsl(120, 100%, 63%);
    border-color: rgb(8, 184, 8);
}