body{
    letter-spacing:-0.5px;
}
li{
    font-family: 'Roboto', sans-serif;
    list-style-type: square;
    font-weight:700;
    font-stretch:ultra-expanded;
}
li:first-child{
    color: rgb(255, 46, 168);
}
li:last-child{
 color: green;
 font-style:italic;
 font-weight: 500;
}
h1{
    font-family: 'Roboto', sans-serif; 
}